.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;


}


.company-logo {
  width: 100%;
}

.link-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;

}

.nav-links {
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.content {
  border: 1px solid black;
  margin-top: 100px;
}