.nc-container {
  position: relative;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
  margin: 100px 20px;
  padding: 20px;
}

.nc-form-container {
  border: 1px solid black;
  padding: 20px;
}

.nc-add-btn {
  width: 90%;
  height: 40px;
  background: black;
  color: white;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  margin: 20px;
}
